.timer-page {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

.score-sheet {
  display: flex;

  flex-direction: column;
  justify-content: top;
  align-items: center;

  width: 30%;
  height: 100%;

  border-right: 1px solid #ffffff;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
