.time-graph-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.graph-title {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.session-select-time-graph {
  width: 100%;
  height: 5%;
}

.graph-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
