.time {
  background-color: blueviolet;
  color: white;
  font-size: 6em;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 10px;
}

.widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
