.Time {
  background-color: blueviolet;
  color: white;
  font-size: 2em;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 10px;
}

.Widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
