.score-card {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 100%;
}

.score-card-header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.score-card-scores {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.session-changer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.session-changer-tag {
  margin: 10px;
}

.session-changer-select {
  background-color: var(--background-light);
  color: #ffffff;
}

table {
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
}

thead tr {
  background-color: var(--component-light);
  color: #ffffff;
  text-align: center;
}

th,
td {
  word-wrap: break-word;
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: var(--background-normal);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--component-light);
}

tbody tr.active-row {
  font-weight: bold;
}
