.score-card {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 100%;
}

.score-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.score-card-scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.session-changer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.session-changer-tag {
  margin: 10px;
}

.link-to-timegraph-from-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: white;
  white-space: nowrap;
  margin-top: 50px;
  padding: 5px;
  border-radius: 10px;
}

table {
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

thead tr {
  background-color: blueviolet;
  color: #ffffff;
  text-align: center;
}

th,
td {
  word-wrap: break-word;
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid blueviolet;
}

tbody tr.active-row {
  font-weight: bold;
  color: blueviolet;
}
