table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tbody {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr {
  background-color: #ffffff;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div {
  width: 100%;
}
