<!doctype html>
<html>
  <head>
    <style>
      body {
        overflow-x: hidden;
      }
      html,
      body,
      #root,
      #root > div {
        height: 100%;
      }
    </style>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>CubeTimer</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
