.dark-theme {
  --background-dark: #07070a;
  --background-normal: #24272b;
  --background-light: #4a525a;
  --component-light: #3e78b2;
  --component-dark: #004ba8;
}

.light-theme {
  --background-dark: #ffffff;
  --background-normal: #f2f2f2;
  --background-light: #e6e6e6;
  --component-light: #3e78b2;
  --component-dark: #004ba8;
}
